<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alt_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :alt_text, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :caption, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :caption, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gallery_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gallery_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :featured, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :featured, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :published_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :published_at, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
