<%- model_class = @project.class -%>
<h1><%=t '.title', :default => @project.title %></h1>

<p>
  
  <img src="<%=asset_path @project.pic %>" alt="<%= @project.alt_text %>" width='900'>
  <%= @project.pic %>
</br>
  <%= @project.caption %>

</p>

<p>
  <%= @project.desc %>
</p>


<p>
  <strong><%= model_class.human_attribute_name(:gallery_link) %>:</strong><br>
  <%= @project.gallery_link %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:featured) %>:</strong><br>
  <%= @project.featured %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:published_at) %>:</strong><br>
  <%= @project.published_at %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
